<h1>Lista Paises</h1>
<%= link_to 'New Country', new_country_path %>
<%= paginate @countries %>

<table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Destination aptour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @countries %>
  </tbody>
</table>
<%= paginate @countries %>

<br>

